.resume-container{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;

}

.h-r{
    font-size: 32px;
        color: #1f2235;
        font-family: "Poppins Bold";
}

.resume-heading{
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 0 50px 0;
        
}

.resume-card{
    display: flex;
    height: 360px;
    width: 1000px;
}

.resume-bullets{
    height: 70%;
    box-shadow: 15px 0 9px -15px #1f2235;
    width: 320px;

}

.resume-bullet-details{
    flex-grow: 1;
    width: 600px;
    overflow: 600px;
    padding:0 0 0 70px;
    
}

.section-details{
    margin:10px 0 0 3rem;
    text-align: justify;
    max-width: 100%;
    
}

.resume-bullets{
   display: flex; 
   align-items: center;
   height: 100%;
   width: 30%;
   position: relative;
   
}

.resume-bullet-details{
    font-size: 14px;
        font-family: "Poppins SemiBold";
        padding-left: 6px;
        
}
.list{
    margin-top: 1rem;
}
.list:hover{
    background-color: #1f2235;
    width: 70%;
    color:white;
    border-radius: 20px;
    padding-left: 6px;
    cursor: pointer;
}

.resume-heading{
    display: flex;
    flex-direction: column;

}


.custom-bullet {
  color: #FF5823;
  margin-right: 10px;
  font-weight: bold;
  font-size: 25px;

}

.skill-parent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    font-family: "Poppins SemiBold";

}
.section-details{
    font-family: "Poppins SemiBold";
}

.programming-skills-container{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
  
}

@media only screen and (max-width:1110px) {
    .resume-card{
        width: 880px;
    }
    .resume-bullet-details{
        padding:0 0 0 70px;
    }
}

@media only screen and (max-width:1023px){
   
}
