.header-container {
    display: flex;
    justify-content: center;
    height: 140px;
    color: #ffffff;
    position: relative;
}

.header-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}

.header-logo {
    font-size: 30px;
    font-family: "Poppins SemiBold";
    color: #ffffff;
}

.header-options {
    display: flex;
    align-items: center;
}

.header-option {
    display: flex;
    align-items: center;
}

.header-option a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

.header-option a:hover {
    color: #FF5823;
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

/* Close Icon */
.close-icon {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Checkbox for toggling menu visibility */
.menu-toggle {
    display: none;
}

/* Media Query for max-width: 910px */
@media (max-width: 910px) {
    .header-parent {
        width: 85%;
    }

    .header-logo {
        font-size: 45px;
    }

    .header-options {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background-color: #333;
        transition: left 0.3s ease;
        z-index: 1;
        padding: 20px;
        box-sizing: border-box;
        align-items: center;
        /* Center items horizontally */
        justify-content: center;
        /* Center items vertically */
    }

    .header-options .header-option {
        display: flex;
        flex-direction: column;
        /* Stack items vertically */
        width: 100%;
        /* Take full width of menu */
        align-items: center;
        /* Center items horizontally */
        padding: 0;
    }

    .header-options .header-option a {
        font-size: 20px;
        margin: 10px 0;
        color: #ffffff;
        transition: color 0.3s ease;
    }

    .header-options .header-option a:hover {
        color: #FF5823;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: block;
    }

    .menu-toggle:checked+.menu-icon+.header-options {
        left: 0;
    }
}